// Primary Colors

$Black: #191919;
$Red: #E1251B;
$Offset-yellow: #FFEFD1;

// Secondary Colors 

$White: #FFF;
$Grey: #F0F0F0;
$Dark-Red: #820007;
$Grey: #333;

// Supporting Color

$Yellow: #F4E900;